# Dependencies
node_modules/
.pnp
.pnp.js

# Testing & Coverage
coverage/
*.lcov

# Production build artifacts
dist/
build/
.output/

# Environment files
.env
.env.*
!.env.example
!.env.production.example
!.env.development

# Database
*.sqlite
*.sqlite-journal
*.db
*.db-journal

# Uploads
uploads/
storage/
